@import 'assets/scss/variables';

.search-input {
	width: 100%;
	font-size: $font-size-18;
	color: $color-neutral;
	padding-left: $space-16;
	padding-bottom: $space-4;
	padding-top: $space-4;
	height: $space-32;
	outline: none;
	border: none;
}
