@import 'assets/scss/variables';

.header {
	background-color: $color-primary;
}

.header__content {
	display: flex;
	justify-content: center;
	column-gap: $space-32;
	padding-bottom: $space-8;
	padding-top: $space-8;
}
