@import 'assets/scss/variables';

.price {
	margin-bottom: $space-32;
	display: flex;
	align-items: center;
}

.price--small {
	font-size: $font-size-24;
}

.price--big {
	font-size: $font-size-46;
}

.price__shipping {
	margin-left: $space-4;
}

.price__cents {
	margin-left: $space-4;
}

.price__cents--small {
	font-size: $font-size-14;
}

.price__cents--big {
	font-size: $font-size-24;
}
