@import 'assets/scss/variables';

.search-button {
	cursor: pointer;
	border: none;
	width: $search-button;
	height: $search-button;
	background: $color-neutral-light;
	background-image: url('../../../assets/images/ic_Search.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
