@import 'assets/scss/variables';

* {
	margin: 0;
	font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	height: 100%;
	background-color: $color-neutral-light;
}
